@import "@material/textfield/mdc-text-field";

.mdc-text-field.mdc-text-field--upgraded {
  font-family: "Roboto", sans-serif;
  height: 32px;

  .mdc-text-field__input {
    padding: 4px 8px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__input {
    padding: 4px 36px;
  }

  .mdc-floating-label {
    top: 8px;
    bottom: initial;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    top: 16px;
  }

  &.mdc-text-field--with-leading-icon .mdc-floating-label {
    left: 24px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon, 
  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 4px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon:first-child {
    left: 4px;
  }

  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
    right: 4px;
  }

  &.mdc-text-field--textarea {
    min-height: 100px;
  }
}