@import "@material/textfield/mdc-text-field";

.mdc-text-field.mdc-text-field--upgraded {
  font-family: "Roboto", sans-serif;

  &:not(.mdc-text-field--textarea) {
    height: 32px;
  }

  &.mdc-text-field--textarea,
  &.mdc-text-field--textarea .mdc-text-field__input {
    min-height: 32px;
  }

  &.mdc-text-field--textarea {
    display: inline-flex;

    &.mdc-text-field--fullwidth {
      resize: vertical;
    }
  }

  .mdc-text-field__input {
    padding: 4px 8px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__input {
    padding: 4px 36px;
  }

  .mdc-floating-label {
    top: 6px;
    bottom: initial;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    // top: 16px;
    transform: translateY(-70%) translateX(0) scale(0.75)
  }

  &.mdc-text-field--with-leading-icon .mdc-floating-label {
    left: 24px;
  }

  &.mdc-text-field--with-leading-icon .mdc-floating-label.mdc-floating-label--float-above {
    transform: translateY(-70%) translateX(-20px) scale(0.75)
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon, 
  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 4px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon:first-child {
    left: 4px;
  }

  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
    right: 4px;
  }

  &.mdc-text-field--textarea .mdc-floating-label--float-above {
    // transform: translateY(-100%) translateX(4px) scale(0.75)
  }
}