@import "@material/textfield/mdc-text-field";

@mixin notch-border($borderColor) {
  .mdc-notched-outline {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      box-shadow: none;
      border-color: $borderColor;
    }
  }
}

.mdc-text-field.mdc-text-field--upgraded {
  font-family: "Roboto", sans-serif;

  &:not(.mdc-text-field--textarea) {
    height: 32px;
  }

  &.mdc-text-field--textarea,
  &.mdc-text-field--textarea .mdc-text-field__input {
    min-height: 32px;
  }

  &.mdc-text-field--textarea {
    display: inline-flex;

    &.mdc-text-field--fullwidth {
      resize: vertical;
    }
  }

  .mdc-text-field__input {
    padding: 4px 8px;
    -webkit-font-smoothing: initial;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__input {
    padding-left: 32px;
  }

  &.mdc-text-field--with-trailing-icon .mdc-text-field__input {
    padding-right: 32px;
  }

  .mdc-floating-label {
    top: 6px;
    bottom: initial;
  }

  .mdc-floating-label.mdc-floating-label--float-above {
    transform: translateY(-75%) translateX(0) scale(0.75)
  }

  &.mdc-text-field--with-leading-icon .mdc-floating-label {
    left: 24px;
  }

  &.mdc-text-field--with-leading-icon .mdc-floating-label.mdc-floating-label--float-above {
    transform: translateY(-75%) translateX(-20px) scale(0.75)
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon,
  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
    bottom: 4px;
  }

  &.mdc-text-field--with-leading-icon .mdc-text-field__icon:first-child {
    left: 4px;
  }

  &.mdc-text-field--with-trailing-icon .mdc-text-field__icon ~ .mdc-text-field__icon {
    right: 1px;
  }

  .mdc-notched-outline {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      background-color: white;
    }
  }

  @include notch-border($lightBorder);

  &.mdc-text-field--invalid {
    @include notch-border($danger);
  }
}

.dark-mode .mdc-text-field.mdc-text-field--upgraded {
  &.mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    .mdc-text-field__input {
      color: $textOnDark;
    }

    .mdc-floating-label {
      color: $dimTextOnDark;
    }

    &.mdc-text-field--with-leading-icon .mdc-text-field__icon,
    &.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
      color: $dimTextOnDark;
    }
  }

  &.mdc-text-field--outlined.mdc-text-field--disabled {
    .mdc-text-field__input {
      color: $disabledButtonFontColor;
    }

    .mdc-floating-label {
      color: $disabledButtonFontColor;
    }

    &.mdc-text-field--with-leading-icon .mdc-text-field__icon,
    &.mdc-text-field--with-trailing-icon .mdc-text-field__icon {
      color: $disabledButtonFontColor;
    }
  }

  .mdc-notched-outline {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      background-color: $grayDp24;
    }
  }

  .mdc-notched-outline div {
    border-color: $borderSeparator;
  }
}

.dark-mode {
  .mdc-text-field:not(.mdc-text-field--disabled) {
    & + .mdc-text-field-helper-line .mdc-text-field-helper-text {
      color: $dimTextOnDark;
    }

    .mdc-text-field__input::placeholder {
      color: $dimTextOnDark;
    }
  }
}
