@import "@material/floating-label/mdc-floating-label";
@import "../../vars.scss";

@mixin notch-border($borderColor) {
  .mdc-notched-outline {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing,
    .mdc-notched-outline__notch {
      box-shadow: none;
      border-color: $borderColor;
    }
  }
}

.multi-select {
  font-family: "Roboto", sans-serif;
  display: flex;

  .select-container-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  @include notch-border($lightBorder);

  .mdc-notched-outline {
    .mdc-notched-outline__leading {
      border-radius: 4px 0 0 4px;
    }

    .mdc-notched-outline__trailing {
      border-radius: 0 4px 4px 0;
    }

    .mdc-floating-label {
      color: $lightDimFont;
      pointer-events: none;
      top: 10px;
      left: 8px;

      &.mdc-floating-label--float-above {
        top: 2px;

        &.no-label {
          display: none;
        }
      }
    }
  }

  .select__multi-value {
    background-color: $mdc-theme-primary;
    color: $lightMainFont;

    .select__multi-value__label {
      color: $lightMainFont;
    }
  }

  .select__control {
    box-shadow: none;
    border: none;
  }

  .select__control--is-focused {
    box-shadow: 0 0 4px $mdc-theme-primary;
  }

  .select__indicator {
    color: $lightDimFont;
  }

  .select__indicator-separator {
    display: none !important;
  }

  .select__option {
    &:active {
      background-color: transparent;
    }

    &.select__option--is-selected {
      color: $lightMainFont;
      background-color: $very-light-gray;
    }

    &.select__option--is-focused {
      color: $lightMainFont;
      background-color: $very-light-gray;
    }
  }

  &.error {
    @include notch-border($danger);

    .mdc-floating-label {
      color: $danger;
    }
  }

  &.required {
    .mdc-floating-label::after {
      content: " *";
    }
  }
}

.dark-mode .multi-select {
  .select-container-wrapper {
    .select__control {
      background-color: $grayDp24;
      border: none;

      .select__single-value,
      .select__input input,
      .select__dropdown-indicator,
      .select__clear-indicator {
        color: $dimTextOnDark !important;
      }
    }
  }

  .mdc-notched-outline {
    div {
      border-color: $borderSeparator;
    }
  }

  .mdc-floating-label {
    color: $dimTextOnDark;
  }

  .select__menu {
    background: $grayDp6;
    color: $dimTextOnDark;
  }

  .select__option {
    &:active {
      background-color: transparent;
    }

    &.select__option--is-selected,
    &.select__option--is-focused {
      color: $textOnDark;
      background-color: $highlightOnDark;
    }
  }

  &.select--is-disabled {
    .select-container-wrapper {
      .select__control {
        background-color: $disabledButtonBackgroundColor;

        .select__single-value,
        .select__input input,
        .select__dropdown-indicator,
        .select__clear-indicator {
          color: $disabledButtonFontColor;
        }
      }
    }
  }
}