@import "@material/floating-label/mdc-floating-label";
@import "../../vars.scss";

.multi-select {
  font-family: "Roboto", sans-serif;

  .select-container-wrapper {
    display: inline-block;
    width: 100%;
  }

  .mdc-floating-label {
    margin: 10px 14px;
    color: $light-gray;
    pointer-events: none;

    &.mdc-floating-label--float-above {
      transform: translateY(-50%) scale(0.75);
      background: white;
      padding: 0 4px;
      margin: 0 14px;
      color: initial;
    }
  }

  .select__control--is-focused {
    border-color: $mdc-theme-primary;
    box-shadow: none;

    &:hover {
      border-color: $mdc-theme-primary;
    }
  }

  .select__option {

    &:active {
      background-color: transparent;
    }

    &.select__option--is-selected {
      background-color: rgba($mdc-theme-primary, 0.3);
    }

    &.select__option--is-selected {
      background-color: rgba($mdc-theme-primary, 0.3);
    }

    &.select__option--is-focused {
      background-color: rgba($mdc-theme-primary, 0.3);
    }
  }

  &.error {

    .select__control {
      border: 1px solid $danger;
    }

    .mdc-floating-label {
      color: $danger;
    }
  }

  &.required {
    .mdc-floating-label::after {
      content: " *";
    }
  }
}