@import "@material/floating-label/mdc-floating-label";
@import "../../vars.scss";

.multi-select {
  font-family: "Roboto", sans-serif;

  .select-container-wrapper {
    display: inline-block;
    width: 100%;
  }

  .mdc-floating-label {
    margin: 10px;
    transition: none;
    color: $light-gray;

    &.mdc-floating-label--float-above {
      transform: translateY(-100%) scale(0.75);
      background: white;
      padding: 0 4px;
      color: initial;
    }
  }

  .select__control--is-focused {
  }
}