@import "@material/button/mdc-button";

.mdc-button:not(.mdc-ripple-upgraded) {
  text-transform: initial;
  letter-spacing: normal;
  height: 32px;

  &.mdc-button--unelevated,
  &.mdc-button--outlined {
    &:hover, &:focus, &:active {
      &::before, &::after {
        opacity: 0 !important;
      }
    }
  }

  &.mdc-button--unelevated {
    &:active, &:hover {
      background-color: $mdc-theme-primary-active;

      &.danger {
        background-color: $danger-active;
      }

      &.warning {
        background-color: $warning-active;
      }

      &.success {
        background-color: $success-active;
      }
    }

    &:disabled {
      background-color: $mdc-theme-primary;
      opacity: 0.24;
      color: white;
    }

    &.danger {
      background-color: $danger;
    }

    &.warning {
      background-color: $warning;
    }

    &.success {
      background-color: $success;
    }
  }

  &.mdc-button--outlined {
    border-color: $light-gray;
    border-width: 1px;
    color: $dark-gray;
    background: white;

    &:active, &:hover {
      background-color: $very-light-gray;
    }

    svg,
    svg use {
      fill: $dark-gray;
    }

    &:disabled {
      opacity: 1!important;
      border-color: #ccc;
      color: $light-gray;
      cursor: not-allowed;

      svg,
      svg use {
        fill: #ccc;
      }
    }
  }
}

.dark-mode .mdc-button:not(.mdc-ripple-upgraded).mdc-button--outlined {
  color: $textOnDark !important;
  border: 1px solid $secondaryButtonBorder !important;
  background-color: $secondaryButtonBackground !important;

  &:hover {
    background-color: $highlightOnDark !important;
  }

  &:disabled {
    color: $disabledButtonFontColor !important;
    background-color: $disabledButtonBackgroundColor;
    border: 1px solid $disabledButtonBorderColor !important;
    opacity: 1;
    cursor: not-allowed;

    svg,
    svg use {
      fill: $disabledButtonFontColor;
    }
  }
}
