@import "@material/list/mdc-list";

.mdc-list {
  border: 1px solid $lightBorder;
  background-color: #fff;
  color: $lightDimFont;
  .mdc-list-item:hover {
    background-color: $very-light-gray;
  }
  .mdc-list-item--selected {
    color: $lightMainFont;
  }
  .mdc-list-item.compact, .mdc-list-item.extra-compact {
    padding: 0 8px;
    font-size: 14px;
  }
  .mdc-list-item.compact {
    height: 32px;
  }
  .mdc-list-item.extra-compact {
    height: 24px;
  }
  &:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before,
  &:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
    background-color: $very-light-gray;
  }
}

.mdc-list.compact, .mdc-list.extra-compact {
  padding: 0;
  .mdc-list-item {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
  }
}

.mdc-list.extra-compact .mdc-list-item {
  height: 24px;
}

.dark-mode .mdc-list {
  background-color: $grayDp6;
  border-color: $borderSeparator;
  .mdc-list-item, .mdc-list-item__meta {
    color: $dimTextOnDark;
    background-color: $grayDp6;
  }
  .mdc-list-item:hover {
    background-color: $highlightOnDark;
    color: $textOnDark;
  }
  .mdc-list-item--selected {
    color: $textOnDark;
  }
  .mdc-list-item--selected::before,
  .mdc-list-item--selected::after {
    background-color: $grayDp6;
  }
}
