@import "@material/switch/mdc-switch";

.mdc-switch {
  @include mdc-switch-toggled-on-color($mdc-theme-primary);
  @include mdc-switch-toggled-off-color($light-gray);
  @include mdc-switch-toggled-off-track-color(#999);

  /* hide ripple */
  .mdc-switch__thumb-underlay {
    &::before, &::after {
      display: none;
    }
  }

  &.compact {
    .mdc-switch__track {
      width: 24px;
      height: 10px;
    }
    .mdc-switch__thumb-underlay {
      width: 12px;
      height: 12px;
      left: 0;
      top: 0;
    }
    .mdc-switch__thumb {
      width: 12px;
      height: 12px;
      border: none;
    }
    .mdc-switch__native-control {
      width: 24px;
      height: 12px;
    }
    &.mdc-switch--checked .mdc-switch__native-control {
      transform: translateX(-12px);
    }
    &.mdc-switch--checked .mdc-switch__thumb-underlay {
      transform: translateX(12px);
    }
  }
}