@import "@material/select/mdc-select";
@import "@material/select/mixins";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/list/mdc-list";

.mdc-select--outlined {
  width: 100%;

  &, .mdc-select__selected-text {
    height: 36px;
  }

  .mdc-select__selected-text {
    padding: 4px 0 0 8px;
  }

  .mdc-floating-label {
    &:not(.mdc-floating-label--float-above) {
      left: 4px;
      top: 8px;
    }
  }

  .mdc-select__dropdown-icon {
    bottom: 6px;
  }

  &.mdc-select--with-leading-icon {
    .mdc-select__icon {
      bottom: 6px;
      left: 8px;
    }

    .mdc-select__selected-text {
      padding: 4px 0 0 36px;
    }
  }
}

.mdc-select__menu.mdc-menu-surface {
  margin-top: 36px;

  .mdc-list {
    color: $very-dark-gray;

    .mdc-list-item--activated {
      background-color: $very-light-gray;

      &::before {
        opacity: 0;
      }
    }
  }
}

.dark-mode {
  .mdc-select__menu.mdc-menu-surface {
    margin-top: 36px;
    background-color: $grayDp24;
    
    .mdc-list {
      color: $dimTextOnDark;

      .mdc-list-item--activated {
        color: $textOnDark;
        background-color: $highlightOnDark;
      }

      .mdc-list-item:hover {
        color: $textOnDark;
        background-color: $highlightOnDark;
      }
    }
  }

  .mdc-select--outlined:not(.mdc-select--disabled) {
    background-color: $grayDp24;

    .mdc-select__selected-text {
      color: $textOnDark;
    }

    .mdc-floating-label {
      color: $dimTextOnDark;
    }

    &.mdc-select--with-leading-icon .mdc-select__icon {
      color: $dimTextOnDark;
    }
  }

  .mdc-select--outlined.mdc-select--disabled {
    background-color: $disabledButtonBackgroundColor;

    .mdc-select__selected-text {
      color: $disabledButtonFontColor;
    }

    .mdc-floating-label {
      color: $disabledButtonFontColor;
    }

    &.mdc-select--with-leading-icon .mdc-select__icon {
      color: $disabledButtonFontColor;
    }
  }
}