@import "@material/dialog/mdc-dialog";
@import "../button/button";

.mdc-dialog {

  .mdc-dialog__container {
    .mdc-dialog__title {
      border-radius: 4px 4px 0 0;
      background-color: $info;
      color: white;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      text-transform: capitalize;

      .mdc-icon-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 8px;

        &::-moz-focus-inner {
          border: 0;
        }
      }

      .mdc-icon-button:not(.mdc-ripple-upgraded):focus {
        &::before, &::after {
          opacity: 0;
        }
      }
    }

    .mdc-dialog__content {
      padding: 16px;
      color: $very-dark-gray;
      font-size: 14px;
    }

    .mdc-dialog__title + .mdc-dialog__content {
      padding-top: 16px;
      display: flex;
    }

    .mdc-dialog__surface {
      min-width: 420px;
    }

    .mdc-dialog__content .material-icons {
      padding: 0 8px 0 0;
      font-size: 32px;
      width: 32px;
      min-width: 32px;
      display: flex;
      flex: 0 32px;
    }

    .mdc-dialog__actions {
      border: 1px solid #ddd;
    }

    .dialog-message {
      float: left;
      display: flex;
      flex: auto;
    }

    .mdc-button, .mdc-button:not(:disabled) {
      color: $gray;
      height: 32px;
      margin-left: 8px;
    }

    .mdc-button:last-child {
      color: white;
    }
  }

  &.danger {
    .mdc-dialog__title {
      background-color: $danger;
    }

    .mdc-dialog__content {
      color: $danger;
    }

    .mdc-button:last-child {
      color: white;
      background-color: $danger;
    }
  }

  &.warning {
    .mdc-dialog__title {
      background-color: $warning;
      color: $very-dark-gray;
    }

    .mdc-dialog__content .material-icons {
      color: $warning;
    }

    .mdc-button:last-child {
      color: $very-dark-gray;
      background-color: $warning;
    }
  }

  &.success {
    .mdc-dialog__title {
      background-color: $success;
    }

    .mdc-dialog__content .material-icons {
      color: $success;
    }

    .mdc-button:last-child {
      color: white;
      background-color: $success;
    }
  }

  &.info {
    .mdc-dialog__content .material-icons {
      color: $info;
    }
  }
}

.dark .mdc-button:not(.mdc-ripple-upgraded).mdc-button--outlined {
  background-color: white !important;
  border: 1px solid $light-gray !important;

  .mdc-button__label {
    color: $gray;
  }
}