@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "./index.scss";

#rsg-root {

  [data-preview*="Button"], [data-preview*="Modal"] {
    & > div > button {
      margin-right: 12px;
    }
  }

  .operator-selector {
    width: 300px;
  }

  hr {
    visibility: hidden;
  }
}