@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "./index.scss";
@import "./vars";

.theme-switcher {
  float: right;
  position: initial;
  padding: 8px;

  button {
    border: 1px solid #888;
    box-shadow: none;
    border-radius: 0px;

    &:focus {
      outline: none;
    }
  }
}

#rsg-root {

  [data-preview*="Button"], [data-preview*="Modal"] {
    & > div > button {
      margin-right: 12px;
    }
  }

  .operator-selector {
    width: 300px;
  }

  hr {
    visibility: hidden;
  }
}

.dark {
  &, #rsg-root, .rsg--root-1 {
    background-color: $grayDp1;
  }

  .theme-switcher {
    color: $dimTextOnDark;
  }
}