$mdc-theme-primary: #0089D1;
$mdc-theme-primary-active: #027BBC;
$mdc-theme-secondary: #bbb;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: black;

$very-light-gray: rgb(245, 245, 245);
$light-gray: #ddd;
$gray: #868686;
$dark-gray: #666;
$very-dark-gray: #222;

$danger: #D83C3C;
$danger-active: #c62121;
$warning: #F2B700;
$warning-active: #e2aa00;
$info: #0088D1;
$info-active: #3BA1D9;
$success: #5BCE00;
$success-active: #54bc00;

$grayDp0: #121212; /* main nav */
$grayDp1: #1e1e1e; /* background */
$grayDp2: #222222; /* unused */
$grayDp3: #252525; /* header and larger panel */
$grayDp4: #272727; /* panel headers */
$grayDp6: #2c2c2c; /* popup */
$grayDp8: #2e2e2e; /* non-input widget */
$grayDp12: #333333; /* higher popup */
$grayDp16: #353535; /* unused */
$grayDp24: #383838; /* input widgets */

$primaryOnDark: #33a0db; /* blue on dark, not used yet, may conflict with whitelabeliing */
$textOnDark: #eee; /* default text */
$dimTextOnDark: #aaa; /* less emphasized text */
$highlightOnDark: #444444; /* hover background */
$borderSeparator: #444;
$darkBorderSeparator: #121212;
$secondaryButtonBorder: #555;
$secondaryButtonBackground: #2d2d2d;
$popupBorder: #555;
$chartMarkStroke: #444;
$disabledButtonFontColor: #555;
$disabledButtonBackgroundColor: #313131;
$disabledButtonBorderColor: #444;

$lightMainFont: #404040;
$lightDimFont: #bbb;
$lightBorder: $gray;